.tfm-trackable {
    filter: grayscale(0%) opacity(100%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    padding: 2px;
}

.tfm-trackable:hover {
    filter: grayscale(30%) opacity(100%);
    transform: scale(1.1);
}

.tfm-trackable.tfm-owned {
    filter: grayscale(100%) opacity(60%);
    transform: scale(1);
}